<html>

<head>
  <link rel="stylesheet" href="/static/bootstrap.min.css">
  <link rel="stylesheet" href="/static/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/static/chosen.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js">
  </script>
  <style>
    body {
      padding-top: 0px;
    }

    main {
      padding-top: 10%;
    }

    .background_img {
      background-image: url(/static/board.jpg);
      position: fixed;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-attachment: fixed;
      background-size: cover;
      z-index: -100;
      filter: blur(1px);
    }

    .normal-title {
      font-size: 140%;
      font-weight: bold;
      padding-bottom: 10px;
      color: rgb(46, 110, 58);
    }

    .normal-title:hover {
      text-decoration: underline;
    }

    .chosen-container-multi .chosen-choices li.search-choice {
      background-image: linear-gradient(rgb(138, 199, 129) 50%, rgb(138, 199, 129) 100%) !important;
      border-radius: 0.9em;
      border: none !important;
      padding: 6px 10px;
      background-size: 100% !important;
      margin: 2px;
    }

    .chosen-container-multi .chosen-choices li.search-choice span {
      padding-right: 12px;
    }

    .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
      margin-top: 2.5px;
      margin-right: 3px;
    }

    ul li {
      list-style: none;
    }

    .results-div {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin: 30px;
    }

    .category {
      text-align: center;
      padding: 20px;
      margin: 0px 15px;
      background-color: rgba(199, 181, 163, 0.8);
      width: 100%;
    }

    .recipe-div {
      cursor: pointer;
    }

    .form-group {
      margin: 20px;
      width: 90%;
    }

    .global-search .form-control {
      margin: 0px 0px 0px 2px;
    }

    .global-search .form-text {
      width: 500px;
    }

    .global-search .form-num {
      width: 100px;
    }

    .global-search .form-box {
      margin: 0px 2px 0px 15px;
      padding: 0px;
      width: 15px;
      height: 15px;
    }

    .form-center label {
      display: inline-block;
      width: 138px;
      text-align: right;
    }

    .hidden {
      display: none;
    }

    h1 {
      text-align: center;
    }

    h5 {
      line-height: 0px;
    }

    .fade {
      padding: 20px;
      /* center align??? */
    }

    .modal-backdrop {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1 !important;
      opacity: 0.5;
    }

    .modal-content {
      margin-bottom: 50px;
    }

    .modal-lg {
      width: 93%;
      height: 95%;
    }

    .modal-title {
      font-size: 40px;
    }

    .modal-header {
      background: rgb(181, 160, 139);
    }

    .modal-title {
      padding: 20px 85px;
    }

    .modal-body {
      background: rgb(237, 218, 199);
      padding: 15px 100px;
    }

    .modal-body p,
    .modal-body ul li,
    .modal-body ol li {
      font-size: 20px;
    }

    .modal-body ol li {
      padding-bottom: 10px;
    }

    .modal-footer {
      background: rgb(237, 218, 199);
    }

    .modal-body-header {
      line-height: 0%;
    }

    .underline {
      line-height: 80%;
    }

    .btn {
      background-color: rgb(61, 121, 66);
    }

    .btn:hover {
      background-color: rgb(102, 151, 95);
    }

    .btn-default:hover {
      background-color: rgb(102, 151, 95);
    }

    .close {
      font-size: 220%;
    }

    #submit {
      margin-left: 50px;
    }

    #clear-input {
      margin-right: 30px;
      width: 110px;
      color: white;
    }

    .chosen-choices {
      height: 35px !important;
      padding: 2px 10px !important;
      font-size: 12px !important;
      line-height: 1.5 !important;
      border-radius: 4px !important;
      border: 1px solid #ccc !important;
    }

    .chosen-search-input-default {
      font-size: 14px !important;
      line-height: 1.42857143 !important;
    }

    .chosen-drop {
      left: 0px !important;
      border: 1px solid #ccc !important;
    }

    .active-result {
      width: 498px !important;
    }

    .highlighted {
      background-image: linear-gradient(rgb(138, 199, 129) 50%, rgb(138, 199, 129) 100%) !important;
    }
  </style>
  <script>
    function clearInputs() {
      $("#fav-input").val("");
      $("#res-input").val("");
      $("#cal-input").val("");
      $("#b-toggle").prop("checked", false);
      $("#l-toggle").prop("checked", false);
      $("#d-toggle").prop("checked", false);
      $("#drink-toggle").prop("checked", false);
    }
  </script>
</head>

<body>

  <div class="background_img"></div>

  <!--
    <div class="topcorner">
        <p>Project Name: {{ name }}</p>
        <p>Student Names: ({{ netid }})</p>
    </div>
    -->
  <main>
    <form class="form-inline global-search">
      <a href="/">
        <h1 style="font-size: 55px; font-family:Futura">
          <span style="color: rgb(4, 70, 19);">S</span>
          <span style="color: rgb(17, 80, 29);">M</span>
          <span style="color: rgb(26, 87, 37);">A</span>
          <span style="color: rgb(35, 99, 47);">R</span>
          <span style="color: rgb(46, 110, 58);">T</span>
          <span> 🔪 </span>
          <span style="color: rgb(53, 121, 66);">C</span>
          <span style="color: rgb(61, 121, 66);">H</span>
          <span style="color: rgb(83, 131, 76);">E</span>
          <span style="color: rgb(102, 151, 95);">F</span>
        </h1>
      </a>

      <br><br>

      <p>
        Start your fitness journey right!!
        Enter your information for a curated list of recipes.
      </p>

      <br><br>

      <!-- setting form values -->
      {% if output_message %}
      {% set fav_foods = inputs.fav_foods %}
      {% set omit_foods = inputs.omit_foods %}
      {% set cal_limit = inputs.cal_limit %}
      {% endif %}

      <div class="form-center">
        <div class="form-group">
          <label id="fav-input-label">Favorite Ingredients: </label>
          <input id="fav-input" type="text" name="fav-foods" class="form-control form-text"
            placeholder="e.g. 'beef, cashews, avocado'" value="{{fav_foods}}">
        </div>

        <div class="form-group">
          <label id="res-input-label">Ingredients to Omit: </label>
          <input id="res-input" type="text" name="res-foods" class="form-control form-text"
            placeholder="e.g. 'garlic, shrimp'" value="{{omit_foods}}">
        </div>

        <div class="form-group">
          <label id="allergy-input-label">Allergies: </label>
          <select id="allergy-input" multiple class="chosen-select form-control form-text" name="allergies">
            {% if "Dairy" in inputs.allergies %}
            <option selected value="Dairy">Dairy</option>
            {% else %}
            <option value="Dairy">Dairy</option>
            {% endif %}
            {% if "Egg" in inputs.allergies %}
            <option selected value="Egg">Egg</option>
            {% else %}
            <option value="Egg">Egg</option>
            {% endif %}
            {% if "Fish" in inputs.allergies %}
            <option selected value="Fish">Fish</option>
            {% else %}
            <option value="Fish">Fish</option>
            {% endif %}
            {% if "Peanut" in inputs.allergies %}
            <option selected value="Peanut">Peanut</option>
            {% else %}
            <option value="Peanut">Peanut</option>
            {% endif %}
            {% if "Shellfish" in inputs.allergies %}
            <option selected value="Shellfish">Shellfish</option>
            {% else %}
            <option value="Shellfish">Shellfish</option>
            {% endif %}
            {% if "Soybean" in inputs.allergies %}
            <option selected value="Soybean">Soybean</option>
            {% else %}
            <option value="Soybean">Soybean</option>
            {% endif %}
            {% if "Tree Nut" in inputs.allergies %}
            <option selected value="Tree Nut">Tree Nut</option>
            {% else %}
            <option value="Tree Nut">Tree Nut</option>
            {% endif %}
            {% if "Wheat" in inputs.allergies %}
            <option selected value="Wheat">Wheat</option>
            {% else %}
            <option value="Wheat">Wheat</option>
            {% endif %}
          </select>
        </div>
      </div>

      <div class="form-group">
        <label id="cal-input-label">Calorie Limit: </label>
        <input id="cal-input" type="number" name="cal-limit" min=0 max=20000 class="form-control form-num"
          value="{{cal_limit}}">
      </div>

      <div class="form-group">
        <label>Mealtime Category: </label>
        {% if inputs.breakfast_selected %}
        <input checked type="checkbox" class="form-control form-box form-category" id="b-toggle" name="breakfast">
        {% else %}
        <input type="checkbox" class="form-control form-box form-category" id="b-toggle" name="breakfast">
        {% endif %}
        <label id="b-toggle-label">Breakfast</label>

        {% if inputs.lunch_selected %}
        <input checked type="checkbox" class="form-control form-box form-category" id="l-toggle" name="lunch">
        {% else %}
        <input type="checkbox" class="form-control form-box form-category" id="l-toggle" name="lunch">
        {% endif %}
        <label id="l-toggle-label">Lunch</label>

        {% if inputs.dinner_selected %}
        <input checked type="checkbox" class="form-control form-box form-category" id="d-toggle" name="dinner">
        {% else %}
        <input type="checkbox" class="form-control form-box form-category" id="d-toggle" name="dinner">
        {% endif %}
        <label id="d-toggle-label">Dinner</label>
      </div>

      <div class="form-group">
        {% if inputs.drink_included %}
        <input checked type="checkbox" class="form-control form-box" id="drink-toggle" name="include-drink">
        {% else %}
        <input type="checkbox" class="form-control form-box" id="drink-toggle" name="include-drink">
        {% endif %}
        <label id="drink-toggle-label">Include drinks</label>
      </div>

      <div class="form-group">
        <button id="clear-input" type="button" class="btn" onclick="clearInputs()"> Clear input </button>
        <button id="submit" type="submit" class="btn btn-info"> Make meal plan ! </button>
      </div>

    </form>
    <br>
    <!--<h1>{{output_message}}</h1>-->
    <br>
    <div id="results" class="results-div">
      {% if breakfast_data or lunch_data or dinner_data %}
      {% if breakfast_data %}
      <div id="breakfastHtml" class="hidden">
        <div class="category">
          <h2>Breakfast</h2>
          <h5>___________________________</h5>
          <br>
          {% for i in range(breakfast_data|length) %}
          {% set breakfast_item = breakfast_data[i] %}
          <div id="div-{{breakfast_item['id']}}" class="recipe-div" onclick="displayModal(this.id)">
            <p class="normal-title">{{i + 1}}. {{breakfast_item["title"]}}</p>
            {% if breakfast_item["description"] is not none %}
            <p><i>{{breakfast_item["description"]}}</i></p>
            {% endif %}
            {% if breakfast_item["calories"] is not none %}
            <p><strong>Calories:</strong> {{breakfast_item["calories"] | int}}</p>
            {% endif %}
            {% if breakfast_item["fat"] is not none %}
            <p><strong>Fat:</strong> {{breakfast_item["fat"] | int}}g</p>
            {% endif %}
            {% if breakfast_item["protein"] is not none %}
            <p><strong>Protein:</strong> {{breakfast_item["protein"] | int}}g</p>
            {% endif %}
            {% if breakfast_item["sodium"] is not none %}
            <p><strong>Sodium:</strong> {{breakfast_item["sodium"] | int}}mg</p>
            {% endif %}
            {% if breakfast_item["rating"] is not none %}
            <p>
              {% for i in range(breakfast_item["rating"] | int) %}
              &#9733
              {% endfor %}
              {% for i in range(5 - breakfast_item["rating"] | int) %}
              &#9734
              {% endfor %}
            </p>
          </div>
          <br>
          {% endif %}
          {% endfor %}
        </div>
      </div>
      {% endif %}
      {% if lunch_data %}
      <div id="lunchHtml" class="hidden">
        <div class="category">
          <h2>Lunch</h2>
          <h5>______________________</h5>
          <br>
          {% for i in range(lunch_data|length) %}
          {% set lunch_item = lunch_data[i] %}
          <div id="div-{{lunch_item['id']}}" class="recipe-div" onclick="displayModal(this.id)">
            <p class="normal-title">{{i + 1}}. {{lunch_item["title"]}}</p>
            {% if lunch_item["description"] is not none %}
            <p><i>{{lunch_item["description"]}}</i></p>
            {% endif %}
            {% if lunch_item["calories"] is not none %}
            <p><strong>Calories:</strong> {{lunch_item["calories"] | int}}</p>
            {% endif %}
            {% if lunch_item["fat"] is not none %}
            <p><strong>Fat:</strong> {{lunch_item["fat"] | int}}g</p>
            {% endif %}
            {% if lunch_item["protein"] is not none %}
            <p><strong>Protein:</strong> {{lunch_item["protein"] | int}}g</p>
            {% endif %}
            {% if lunch_item["sodium"] is not none %}
            <p><strong>Sodium:</strong> {{lunch_item["sodium"] | int}}mg</p>
            {% endif %}
            {% if lunch_item["rating"] is not none %}
            <p>
              {% for i in range(lunch_item["rating"] | int) %}
              &#9733
              {% endfor %}
              {% for i in range(5 - lunch_item["rating"] | int) %}
              &#9734
              {% endfor %}
            </p>
          </div>
          <br>
          {% endif %}
          {% endfor %}
        </div>
      </div>
      {% endif %}
      {% if dinner_data %}
      <div id="dinnerHtml" class="hidden">
        <div class="category">
          <h2>Dinner</h2>
          <h5>________________________</h5>
          <br>
          {% for i in range(dinner_data|length) %}
          {% set dinner_item = dinner_data[i] %}
          <div id="div-{{dinner_item['id']}}" class="recipe-div" onclick="displayModal(this.id)">
            <p class="normal-title">{{i + 1}}. {{dinner_item["title"]}}</p>
            {% if dinner_item["description"] is not none %}
            <p><i>{{dinner_item["description"]}}</i></p>
            {% endif %}
            {% if dinner_item["calories"] is not none %}
            <p><strong>Calories:</strong> {{dinner_item["calories"] | int}}</p>
            {% endif %}
            {% if dinner_item["fat"] is not none %}
            <p><strong>Fat:</strong> {{dinner_item["fat"] | int}}g</p>
            {% endif %}
            {% if dinner_item["protein"] is not none %}
            <p><strong>Protein:</strong> {{dinner_item["protein"] | int}}g</p>
            {% endif %}
            {% if dinner_item["sodium"] is not none %}
            <p><strong>Sodium:</strong> {{dinner_item["sodium"] | int}}mg</p>
            {% endif %}
            {% if dinner_item["rating"] is not none %}
            <p>
              {% for i in range(dinner_item["rating"] | int) %}
              &#9733
              {% endfor %}
              {% for i in range(5 - dinner_item["rating"] | int) %}
              &#9734
              {% endfor %}
            </p>
          </div>
          <br>
          {% endif %}
          {% endfor %}
        </div>
      </div>
      {% endif %}

      <p id="breakfast_data" class="hidden">{{ breakfast_data | tojson }}</p>
      <p id="lunch_data" class="hidden">{{ lunch_data | tojson }}</p>
      <p id="dinner_data" class="hidden">{{ dinner_data | tojson }}</p>
      <script>
        function displayData() {
          var resultDiv = $("#results");
          let breakfast_data = JSON.parse($("#breakfast_data").text());
          let lunch_data = JSON.parse($("#lunch_data").text());
          let dinner_data = JSON.parse($("#dinner_data").text());

          var resultHTML = "";

          if (breakfast_data != null && breakfast_data.length > 0) resultHTML += $('#breakfastHtml').html();
          if (lunch_data != null && lunch_data.length > 0) resultHTML += $('#lunchHtml').html();
          if (dinner_data != null && dinner_data.length > 0) resultHTML += $('#dinnerHtml').html();

          resultDiv.html(resultHTML);
        }

        function displayModal(clickedID) {
          let id_num = clickedID.split("-")[1];
          $("#modal-" + id_num).modal('show');
        }

        displayData();
      </script>
      {% endif %}
    </div>
  </main>
  <div id="modalContainer">
    {% if breakfast_data %}
    {% for i in range(breakfast_data|length) %}
    {% set breakfast_item = breakfast_data[i] %}
    <div id="modal-{{breakfast_item['id']}}" class="modal fade" role="dialog" tabindex="-1" data-backdrop="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h2 class="modal-title">{{breakfast_item["title"]}}</h2>
          </div>
          <div class="modal-body">
            {% if breakfast_item["description"] is not none %}
            <p>{{breakfast_item["description"]}}</p>
            {% endif %}
            {% if breakfast_item["rating"] is not none %}
            <p>
              {% for i in range(breakfast_item["rating"] | int) %}
              &#9733
              {% endfor %}
              {% for i in range(5 - breakfast_item["rating"] | int) %}
              &#9734
              {% endfor %}
            </p>
            <br>
            {% endif %}
            {% if breakfast_item["calories"] is not none
            or breakfast_item["fat"] is not none or breakfast_item["protein"] 
            is not none or breakfast_item["sodium"] is not none %}
            <h3 class="modal-body-header">Nutritional Information</h3>
            <p class="underline">__________________________</p>
            {% if breakfast_item["calories"] is not none %}
            <p><strong>Calories:</strong> {{breakfast_item["calories"] | int}}</p>
            {% endif %}
            {% if breakfast_item["fat"] is not none %}
            <p><strong>Fat:</strong> {{breakfast_item["fat"] | int}}g</p>
            {% endif %}
            {% if breakfast_item["protein"] is not none %}
            <p><strong>Protein:</strong> {{breakfast_item["protein"] | int}}g</p>
            {% endif %}
            {% if breakfast_item["sodium"] is not none %}
            <p><strong>Sodium:</strong> {{breakfast_item["sodium"] | int}}mg</p>
            {% endif %}
            <br>
            {% endif %}
            {% if breakfast_item["ingredients"] is not none 
            or breakfast_item["directions"] is not none %}
            <h3 class="modal-body-header">Preparation</h3>
            <p class="underline">______________</p>
            {% if breakfast_item["ingredients"] is not none %}
            <p><strong>Ingredients:</strong></p>
            {% set ingredients_lst = breakfast_item["ingredients"].split(';;;') %}
            <ul>
              {% for j in range(ingredients_lst|length) %}
              <li>{{ingredients_lst[j]}}</li>
              {% endfor %}
            </ul>
            {% endif %}
            {% if breakfast_item["directions"] is not none %}
            <p><strong>Directions:</strong></p>
            {% set directions_lst = breakfast_item["directions"].split(';;;') %}
            <ol>
              {% for j in range(directions_lst|length) %}
              {% if ((j + 1) ~ ".") in directions_lst[j][:4] %}
              <li>{{directions_lst[j][3:]}}</li>
              {% else %}
              <li>{{directions_lst[j]}}</li>
              {% endif %}
              {% endfor %}
            </ol>
            {% endif %}
            {% endif %}
            {% if breakfast_item["review"] is not none %}
            <br>
            <h3 class="modal-body-header">Review</h3>
            <p class="underline">_________</p>
            <p>"{{breakfast_item["review"]}}"</p>
            {% endif %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% endif %}
    {% if lunch_data %}
    {% for i in range(lunch_data|length) %}
    {% set lunch_item = lunch_data[i] %}
    <div id="modal-{{lunch_item['id']}}" class="modal fade" role="dialog" tabindex="-1">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h2 class="modal-title">{{lunch_item["title"]}}</h2>
          </div>
          <div class="modal-body">
            {% if lunch_item["description"] is not none %}
            <p>{{lunch_item["description"]}}</p>
            {% endif %}
            {% if lunch_item["rating"] is not none %}
            <p>
              {% for i in range(lunch_item["rating"] | int) %}
              &#9733
              {% endfor %}
              {% for i in range(5 - lunch_item["rating"] | int) %}
              &#9734
              {% endfor %}
            </p>
            <br>
            {% endif %}
            {% if lunch_item["calories"] is not none
            or lunch_item["fat"] is not none or lunch_item["protein"] 
            is not none or lunch_item["sodium"] is not none %}
            <h3 class="modal-body-header">Nutritional Information</h3>
            <p class="underline">__________________________</p>
            {% if lunch_item["calories"] is not none %}
            <p><strong>Calories:</strong> {{lunch_item["calories"] | int}}</p>
            {% endif %}
            {% if lunch_item["fat"] is not none %}
            <p><strong>Fat:</strong> {{lunch_item["fat"] | int}}g</p>
            {% endif %}
            {% if lunch_item["protein"] is not none %}
            <p><strong>Protein:</strong> {{lunch_item["protein"] | int}}g</p>
            {% endif %}
            {% if lunch_item["sodium"] is not none %}
            <p><strong>Sodium:</strong> {{lunch_item["sodium"] | int}}mg</p>
            {% endif %}
            <br>
            {% endif %}
            {% if lunch_item["ingredients"] is not none 
            or lunch_item["directions"] is not none %}
            <h3 class="modal-body-header">Preparation</h3>
            <p class="underline">______________</p>
            {% if lunch_item["ingredients"] is not none %}
            <p><strong>Ingredients:</strong></p>
            {% set ingredients_lst = lunch_item["ingredients"].split(';;;') %}
            <ul>
              {% for j in range(ingredients_lst|length) %}
              <li>{{ingredients_lst[j]}}</li>
              {% endfor %}
            </ul>
            {% endif %}
            {% if lunch_item["directions"] is not none %}
            <p><strong>Directions:</strong></p>
            {% set directions_lst = lunch_item["directions"].split(';;;') %}
            <ol>
              {% for j in range(directions_lst|length) %}
              {% if ((j + 1) ~ ".") in directions_lst[j][:4] %}
              <li>{{directions_lst[j][3:]}}</li>
              {% else %}
              <li>{{directions_lst[j]}}</li>
              {% endif %}
              {% endfor %}
            </ol>
            {% endif %}
            {% endif %}
            {% if lunch_item["review"] is not none %}
            <br>
            <h3 class="modal-body-header">Review</h3>
            <p class="underline">_________</p>
            <p>"{{lunch_item["review"]}}"</p>
            {% endif %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% endif %}
    {% if dinner_data %}
    {% for i in range(dinner_data|length) %}
    {% set dinner_item = dinner_data[i] %}
    <div id="modal-{{dinner_item['id']}}" class="modal fade" role="dialog" tabindex="-1">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h2 class="modal-title">{{dinner_item["title"]}}</h2>
          </div>
          <div class="modal-body">
            {% if dinner_item["description"] is not none %}
            <p>{{dinner_item["description"]}}</p>
            {% endif %}
            {% if dinner_item["rating"] is not none %}
            <p>
              {% for i in range(dinner_item["rating"] | int) %}
              &#9733
              {% endfor %}
              {% for i in range(5 - dinner_item["rating"] | int) %}
              &#9734
              {% endfor %}
            </p>
            <br>
            {% endif %}
            {% if dinner_item["calories"] is not none
            or dinner_item["fat"] is not none or dinner_item["protein"] 
            is not none or dinner_item["sodium"] is not none %}
            <h3 class="modal-body-header">Nutritional Information</h3>
            <p class="underline">__________________________</p>
            {% if dinner_item["calories"] is not none %}
            <p><strong>Calories:</strong> {{dinner_item["calories"] | int}}</p>
            {% endif %}
            {% if dinner_item["fat"] is not none %}
            <p><strong>Fat:</strong> {{dinner_item["fat"] | int}}g</p>
            {% endif %}
            {% if dinner_item["protein"] is not none %}
            <p><strong>Protein:</strong> {{dinner_item["protein"] | int}}g</p>
            {% endif %}
            {% if dinner_item["sodium"] is not none %}
            <p><strong>Sodium:</strong> {{dinner_item["sodium"] | int}}mg</p>
            {% endif %}
            <br>
            {% endif %}
            {% if dinner_item["ingredients"] is not none 
            or dinner_item["directions"] is not none %}
            <h3 class="modal-body-header">Preparation</h3>
            <p class="underline">______________</p>
            {% if dinner_item["ingredients"] is not none %}
            <p><strong>Ingredients:</strong></p>
            {% set ingredients_lst = dinner_item["ingredients"].split(';;;') %}
            <ul>
              {% for j in range(ingredients_lst|length) %}
              <li>{{ingredients_lst[j]}}</li>
              {% endfor %}
            </ul>
            {% endif %}
            {% if dinner_item["directions"] is not none %}
            <p><strong>Directions:</strong></p>
            {% set directions_lst = dinner_item["directions"].split(';;;') %}
            <ol>
              {% for j in range(directions_lst|length) %}
              {% if ((j + 1) ~ ".") in directions_lst[j][:4] %}
              <li>{{directions_lst[j][3:]}}</li>
              {% else %}
              <li>{{directions_lst[j]}}</li>
              {% endif %}
              {% endfor %}
            </ol>
            {% endif %}
            {% endif %}
            {% if dinner_item["review"] is not none %}
            <br>
            <h3 class="modal-body-header">Review</h3>
            <p class="underline">_________</p>
            <p>"{{dinner_item["review"]}}"</p>
            {% endif %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% endif %}
  </div>
</body>
<script>
  $(".chosen-select").chosen();
</script>

</html>